* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Playwrite AR", cursive; ;
}

body {
    background-color:powderblue;
    padding-top: 100px;
}
header{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
header img {
height: 36px;
margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight:bold;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
form{
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content:space-between;
    margin-bottom: 50px;
}
form input {
    margin-right: 8px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-bottom: 2px solid green;
    padding: 5px;
}
form button {
    background-color:cornflowerblue;
    color: lawngreen;
    font-size: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;

}

table th{
    border-bottom:7px;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}
table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid red;
}

table td img {
    height: 30px;
}
.resultado {
    padding: 8px;
    font-weight: bold;
    color:red;
    background-color: black;
    border-radius: 3px;
}
.aprovado{
    background-color: white;
    color: green;
}
.reprovado{
    background-color:green;
    color: red;
}